@import "tailwindcss";

@theme {
  --color-primary: #38ff14;
  --color-background-light: #f6f8f5;
  --color-background-dark: #0a0f08;
  --color-surface: #161d14;
  --color-border-muted: #274b20;
  --font-family-display: "Inter", sans-serif;
}
